<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Functional Test Suite" parallel="methods" thread-count="18"
       data-provider-thread-count="1" verbose="5">
    <parameter name="browser" value="Chrome"/>
    <test name="Functional">
        <classes>
            <class name="com.app.qa.ThirdTest"/>
        </classes>
    </test>
</suite>